:root {
  --primary-color: #644f9c;
  --secondary-color: #ff6f00;
  --dark-color: #404040;
  --bg-color: #f2f2f2;
}
button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.nav-link {
  color: #644f9c;
}
.nav-link:hover {
  color: #ff6f00;
}

.login-bar {
  font-size: small;
  border-radius: 25rem;
}
.sign-up {
  background: #ff6f00;
  color: white;
  font-size: small;
  padding: 5px 1.5rem;
  border-radius: 25rem;
}
.login {
  font-size: small;
  padding: 0 1.5rem;
}
